<div class='jumbotron center'>
<h1>About Me</h1>
<p>I'm working on the One Month Rails Pinteresting App to learn to use Ruby on Rails and build simple software for my upcoming Ardunio and Rasberry Pi projects</p>
</div>